.faq {
	padding: $paddings;
    background-color: #191919;

	h2 {	
	}

	&__desc {
		font-size: 24px;
		color: #eee;
		line-height: 28px;
		margin-bottom: 60px;
		max-width: 80%;
		font-weight: 300;
	}

}

.single-faq {
	border-bottom: 1px solid #fff;
	transition: 0.4s linear;
	&:nth-child(1) {
		border-top: 1px solid #fff;
	}
	&__title {
		padding: 21px 50px 21px 0;
		font-size: 24px;
		line-height: 32px;
		cursor: pointer;
		position: relative;
		font-weight: 500;
		&.active:before {
			transform: translate(0,-50%) rotate(-90deg);
		}
		&:before {
			position: absolute;
			transition: 0.3s linear;
			right: 5px;
			top: 50%;
			transform: translate(0,-50%);
			content: '';
			background: url('../img/faq-button.png') center no-repeat;
			background-size: cover;
			width: 25px;
			height: 25px;
		}
	}
	&__text {
		font-size: 24px;
		color: #a0a0a0;
		font-weight: 300;
		line-height: 1.55;
		padding-bottom: 21px;
		display: none;
		p:not(:last-child) {
			margin-bottom: 1.55em;
		}
	}
}