.footer {
	padding: 40px 0;
	background: #191919;

	&__logo {
		display: block;
		margin: 0 auto 20px auto;
		max-width: 156px;
		height: 30px;
		background-image: url('../img/header-logo.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		filter: grayscale(100%);
		transition: .2s linear;
		&:hover {
			filter: grayscale(0);
		}
	}

	&__text {
		text-align: center;
		color: rgba(#fff,0.7);
		font-size: 14px;
		line-height: 26px;
		a {
			color: rgba(#fff,0.7);
			border-bottom: 1px solid rgba(#fff,0.7);
			transition: .3s linear;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}

}