.header {
	height: 100vh;
	background-image: url('../img/header-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;

	&--terms {
		height: auto;
		padding-top: 80px;
		&:before {
			height:40vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.60));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.60));background-image: -o-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.60));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.60));background-image: linear-gradient(top, rgba(0,0,0,0.40), rgba(0,0,0,0.60));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99000000', endColorstr='#66000000');
		}
		.header__content {
			.container {
				height: 40vh;
			}
		}
	}

	.btn {
		font-size: 20px;
		padding: 20px 50px;
	}

	&:before {
		position: absolute;
		left: 0; top: 0; width: 100%; height: 100%;
		content: '';
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.80))
	}

	&__top {
		position: fixed;
		left: 0; top: 0;
		height: 80px;
		width: 100%;
		z-index: 2;
		&:before {
			opacity: 0;
			content: '';
			transition: 0.4s linear;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 100%;
		}
		&.scrolled {
			&:before {
				opacity: 1;
			}
		}
		.container {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 3;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
	}

	&__logo {
		img {
			width: 165px;
		}
	}

	&__scroll {
		position: absolute;
		z-index: 1;
		bottom: 45px;
		left: 50%;
		transform: translate(-50%,0);
		animation: animHeaderScroll 1.7s infinite ease;
		animation-delay: 2s;
	}

	&__nav {
		font-size: 0;
		a {
			display: inline-block;
			vertical-align: middle;
		}
		.btn {
			margin-right: 2px;
		}
	}

	&__lang {
		font-weight: 300;
		font-size: 16px;
		opacity: 0.5;
		color: #fff;
		&:nth-child(3) {
			margin-left: 40px;
			margin-right: 20px;
		}
		&--active {
			font-weight: 600;
		}
	}

	&__buttons {
		font-size: 0;
		.btn {
			padding: 22px 60px;
			border-width: 2px;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}

}

@keyframes animHeaderScroll {
	0% {
		transform: translate(-50%,0);
	}
	50% {
		transform: translate(-50%,-7px);
	}
	55% {
		transform: translate(-50%,-7px);
	}
	100% {
		transform: translate(-50%,0);
	}
}