.how {

	padding: $paddings;
    background-color: #1b1f22;

    h2 {
    	margin-bottom: 115px;
    }

    &__list {
    	display: flex;
    	justify-content: space-between;
    	margin-bottom: 75px;
    }

    &__el {
    	flex-basis: 32%;
    	text-align: center;
        &:nth-child(2) {
            position: relative;
            &:before {
                position: absolute;
                top: 50px;
                left: -13%;
                width: 60px;
                height: 20px;
                background: url('../img/how-arrow.svg') no-repeat left center;
                content: '';
            }
            &:after {
                position: absolute;
                top: 50px;
                right: -13%;
                width: 60px;
                height: 20px;
                background: url('../img/how-arrow.svg') no-repeat left center;
                content: '';
            }
        }
    }

    &__el-pic {
    	height: 130px;
    	padding-bottom: 30px;
    	img {
    		margin: 0 auto;
            width: 90px;
            height: 90px;
    	}
        svg {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            path {
                fill: #fff;
            }
        }
    }

    &__el-title {
    	font-size: 24px;
    	line-height: 1.35;
    	font-weight: 500;
    	margin-bottom: 15px;
    }

    &__el-desc {
    	font-weight: 300;
    	font-size: 16px;
    	line-height: 1.35;
    }

    &__desc {
    	text-align: center;
    	max-width: 760px;
    	color: #a0a0a0;
    	font-size: 24px;
    	line-height: 1.55;
    	margin: 0 auto;
    	position: relative;
    	padding-top: 15px;
        font-weight: 300;
    	&:before {
    		position: absolute;
    		left: 50%;
    		top: -28px;
    		content: '';
    		background: #00a777;
    		transform: translate(-50%,0);
    		width: 80px;
    		height: 3px;
    	}
    }

}