.login-wrapper {

	height: 100vh;

}

.login-slider {
	height: 100%;
	float: right;
	width: 50%;
	background: #e9b4c0;
	position: relative;
	transition: background 0.8s ease-out;
	min-height: 100vh;
}

.login-slide {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	visibility: hidden;
	opacity: 0;
	padding-top: 100px;
	transition: 0;
	width: 60%;
	&__photo {
		box-shadow: 0 25px 50px 5px rgba(0,0,0,0.3);
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
	&.active {
		visibility: visible;
		opacity: 1;
		padding-top: 0;
		transition: 1s ease-out;
		transition-delay: 1s;
		.login-slide__title, .login-slide__desc {
			transform: translate(0,0);
			opacity: 1;
			visibility: visible;
		}
	}
	&__title {
		color: #000;
		font-size: 24px;
		transform: translate(0,10px);
		transition: 0.5s ease-in;
		transition-delay: 1.8s;
		opacity: 0;
		font-weight: 500;
		visibility: hidden;
	}
	&__desc {
		color: rgba(#000,0.8);
		font-size: 24px;
		font-weight: 300;
		transform: translate(0,10px);
		transition: 0.5s ease-in;
		transition-delay: 2s;
		opacity: 0;
		visibility: hidden;
	}
}

.login-form {
	background: #fff;
	width: 50%;
	float: right;
	height: 100%;
	position: relative;

	&__logo {
		background-size: cover;
		position: absolute;
		top: 35px;
		transform: translate(-290px,0);
		padding-left: 40px;
		left: 50%;
		transform: translate(-50%,0);
		max-width: 580px;
		width: 100%;
		text-align: left;
		text-align: left;
	}

	form {
		width: 100%;
		max-width: 580px;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		padding: 40px;
		color: #000;
		margin-top: -5px;
	}

	&__title {
		font-size: 62px;
		line-height: 64px;
		font-weight: 500;
		margin-bottom: 15px;
		margin-left: -5px;
	}

	&__desc {
		font-size: 24px;
		line-height: 20px;
		margin-bottom: 30px;
		font-weight: 300;
	}

	input[type=email], input[type=text], input[type=password] {
		-webkit-appearance: none;
		width: 100%;
		border: 1px solid #000;
		border-radius: 0;
		padding: 0 20px;
		height: 60px;
		line-height: 1.33;
		font-size: 16px;
		font-family: $futura;
		background: transparent;
	}

	.input-group {
		margin-bottom: 25px;
		label {
			padding-bottom: 5px;
			font-size: 20px;
			line-height: 1.55;
			font-weight: 300;
		}
	}

	.box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		label {
			font-size: 16px;
			font-weight: 300;
			cursor: pointer;
			input {
				position: relative;
				cursor: pointer;
			}
		}

	}

	&__forgot {
		color: $blue;
		font-size: 16px;
		font-weight: 500;
		transition: .2s linear;
		font-weight: 300;
		&:hover {
			color: $blue-hover;
		}
	}

	button.btn {
		display: table;
		padding-left: 50px;
		padding-right: 50px;
		font-family: $futura;
	}

	&__reg {
		padding-left: 40px;
		padding-top: 25px;
		font-size: 18px;
		position: absolute;
		bottom: 20px;
		width: 100%;
		left: 50%;
		transform: translate(-50%,0);
		max-width: 580px;
		text-align: left;
		a {
			color: $blue;
			transition: .2s linear;
			&:hover {
				color: $blue-hover;
			}
		}
	}

}