.order {

	padding: $paddings;
	background-image: url('../img/order-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	&:before {
		position: absolute;
		left: 0; top: 0; width: 100%; height: 100%;
		content: '';
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.90), rgba(0,0,0,0.80));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.90), rgba(0,0,0,0.80));background-image: -o-linear-gradient(top, rgba(0,0,0,0.90), rgba(0,0,0,0.80));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.90), rgba(0,0,0,0.80));background-image: linear-gradient(top, rgba(0,0,0,0.90), rgba(0,0,0,0.80));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19000000', endColorstr='#33000000');
	}

	& > div {
		position: relative;
		z-index: 2;
	}

	&__desc {
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.5;
		max-width: 600px;
		margin: 0 auto 70px auto;
	}

	&__button {
		text-align: center;
		position: relative;
		&:before {
			content: '';
			width: 45px;
			height: 101px;
			background: url('../img/order-arrow.svg') no-repeat center;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-290px,-10px);
		}
		&:after {
			content: '';
			width: 20px;
			height: 40px;
			background: url('../img/order-arrow-mobile.svg') no-repeat center;
			left: 50%;
			top: 0;
			position: absolute;
			transform: translate(-50%,-10px);
			display: none;
		}
		a {
			font-size: 26px;
			padding: 26px 80px;
			font-weight: 500;
		}
	}

}