.plans {

	padding: $paddings;
    background-color: #1b1f22;

    &__list {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	margin-bottom: 75px;
    }

    &__desc {
    	text-align: center;
    	margin: 0 auto 65px auto;
    	max-width: 710px;
    	font-weight: 300;
    	font-size: 24px;
    	line-height: 1.5;
    }

    &__button {
    	text-align: center;
    	a {
    		padding-top: 22px;
    		padding-bottom: 22px;
    		padding: 22px 60px;
    		font-size: 20px;
    	}
    }

}

.single-plan {

	border: 1px solid #e0e6ed;
	border-radius: 9px;
	padding: 40px 30px;
	text-align: center;
	flex-basis: 32%;

	&--featured {
		padding: 55px 30px;
	}

	&__name {
		font-size: 24px;
		line-height: 1.35;
		font-weight: 600;
		margin-bottom: 10px;
	}

	&__desc {
		color: #fcfcfc;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.55;
		min-height: 2em;
	}

	&__price {
		margin-top: 30px;
		font-size: 42px;
		line-height: 1.23;
		font-weight: 600;
	}

	&__services {
		margin-top: 25px;
		font-size: 16px;
		line-height: 1.55;
		font-weight: 300;
		li {
			padding: 10px 0;
		}
	}

}