.split {

	padding: $paddings;
	background: #191919;
	position: relative;
	overflow: hidden;

	&--bright {
		background: #1b1f22;
	}

	.container {
		display: flex;
		align-items: center;
	}

	&__content {
		max-width: 50%;
		min-width: 50%;
		padding-right: 10%;
	}

	&__desc {
		font-weight: 300;
		color: #eee;
		font-size: 24px;
		line-height: 1.5;
		p:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__photo {
		float: left;
		max-width: 500px;
		img {
			max-height: 585px;
		}
	}

	&__photo img, &__slider img {
		min-height: 500px;
		height: 70vh;
	}

	&__single-photo {
		
	}

	&__slider {
		float: left;
		max-height: 700px;
		position: relative;
		img {
			max-height: 700px;
		}
	}

	/* &__slide {
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
		display: none;
		&.active {
			display: block;
			visibility: visible;
			opacity: 1;
			animation: animSplitSlider 2s ease;
		}
		&:not(.active) {
			animation: animSplitSliderOff 2s ease;
		}
	} */

	&__slide {
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
		position: absolute;
		transition: 0.2s linear;
		left: 0;
		top: 0;
		&.active {
			visibility: visible;
			opacity: 1;
			position: relative;
		}
	}

	&__slider--buttons {
		position: absolute;
		left: 15px;
		bottom: 15px;
		font-size: 0;
		z-index: 2;
	}

	&__slider--button {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #000;
		opacity: 0.25;
		cursor: pointer;
		transition: 0.2s linear;
		&:hover {
			opacity: 0.75;
		}
		&.active {
			opacity: 1;
		}
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

}

@keyframes animSplitSlider {
	0% {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	1% {
		display: block;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes animSplitSliderOff {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
}