.terms-text {

	background: #fff;
	color: #000;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
	padding: 60px 0;

	h5 {
		font-weight: 600;
		font-size: 18px;
		margin-top: 1.55em;
		margin-bottom: 1.55em;
	}

	p {
		margin-bottom: 1em;
	}

}