.works {

	padding: $paddings;
	background: #191919;
	position: relative;
	overflow: hidden;

	.container {
		max-width: 9999px;
	}

	&__subtitle {
		color: $text-color-dark;
		font-size: 24px;
		line-height: 28px;
		margin: 0 auto;
		margin-bottom: 60px;
		max-width: 1010px;
		text-align: center;
		font-weight: 300;
	}

	&__list {
		font-size: 0;
		max-width: 1624px;
		margin: 0 auto;
	}

}

.single-work {
	display: inline-block;
	width: calc(33% - 3px);
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	color: #fff;
	padding-bottom: calc(22% - 16px);
	text-align: center;
	margin-right: 10px;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&__bg {
		position: absolute;
		left: 0; top: 0; width: 100%; height: 100%;
		content: '';
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
		transition: 0.2s linear;
		transform: scale(1);
	}
	&:before {
		position: absolute;
		left: 0; top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		content: '';
		opacity: 0.1;
		z-index: 2;
		transition: .2s linear;
	}
	&:hover:before {
		opacity: .5;
	}
	&__meta {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0,-50%);
		width: 100%;
		transition: .2s cubic-bezier(.77,.28,.27,1);
		text-align: center;
		z-index: 3;
	}
	&__title {
		z-index: 3;
		text-align: center;
		transition: .2s cubic-bezier(.77,.28,.27,1);
		text-align: center;
	}
	&:hover {
		.single-work__button {
			opacity: 1;
			visibility: visible;
			transform: translate(0,50px);
		}
		.single-work__desc, .single-work__title {
			transform: translate(0, -50px);
		}
		.single-work__bg {
			transform: scale(1.1);
		}
	}

	&__desc {
		font-size: 16px;
		font-weight: 300;
		margin-top: 0px;
		margin-top: 10px;
		margin-bottom: -50px;
		transition: .2s cubic-bezier(.77,.28,.27,1);
	}

	&__button {
		z-index: 3;
		visibility: hidden;
		opacity: 0;
		transition: 0.2s cubic-bezier(.77,.28,.27,1);
		width: 100%;
		text-align: center;
		span {
			text-align: center;
			display: inline-block;
			padding: 15px 36px;
			border: 2px solid #fff;
			font-size: 16px;
			font-weight: 400;
			transition: 0.3s cubic-bezier(.77,.28,.27,1);
			&:hover {
				background: rgba(#fff,0.2);
				color: #fff;
			}
		}
	}
}