body {
	font-family: $futura;
	font-size: 24px;
	line-height: 1;
	background: #000;
	color: $text-color;
	position: relative;

	&.loaded:before {
		visibility: hidden;
		opacity: 0;
	}

	&:before {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: #000;
		content: '';
		z-index: 10;
		transition: .8s linear;
	}
}

.container {
	margin: 0 auto;
	max-width: 1190px;
	padding: 0 15px;
}

h1 {
	text-align: center;
	font-weight: 300;
	font-size: 72px;
	line-height: 1.17;
	margin-bottom: 70px;
}

h2 {
	font-weight: 500;
	font-size: 62px;
	margin-bottom: 36px;
	margin-top: -8px;
	&.center {
		text-align: center;
	}
	&.no-desc {
		margin-bottom: 105px;
	}
}

h3 {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.23;
}

h4 {
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
	margin-bottom: 50px;
	text-transform: uppercase;
	&.center {
		text-align: center;
	}
}

.btn {
	display: inline-block;
	border: 1px solid transparent;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 11px 35px;
	font-weight: 500;
	transition: 0.2s linear;
	&--white {
		border-color: #fff;
		&:hover {
			background: rgba(#fff,0.2);
			color: #fff;
		}
	}
	&--blue {
		background: $blue;
		border-color: $blue;
		&:hover {
			background: $blue-hover;
			border-color: $blue-hover;
		}
	}
}

.fadeInDown {
	transition-timing-function: cubic-bezier(.89,.36,.45,1.02);
	transition-duration: 1s;
	transition-delay: 0.2s;
	transform: translate(0,-100px);
	transition-property: transform, opacity;
	opacity: 0.5;
}

.fadeInUp {
	transition-timing-function: linear;
	transition-duration: 0.5s;
	transition-delay: 0.2s;
	transform: translate(0,50px);
	opacity: 0;	
}

h4.fadeInDown {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	transform: translate(0,0) scale(0.9);
	transition-timing-function: linear;
}

h1.fadeInUp {
	transition-delay: 0.2s;
	transform: scale(0.95);
}

.header__buttons.fadeInUp {
	transition-delay: 0.1s;	
}

.loaded .fadeInDown, .loaded .fadeInUp {
	opacity: 1;
	transform: translate(0,0) scale(1);
}