@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPTBook.eot);
  src: url(../fonts/FuturaPTBook.eot?#iefix) format('embedded-opentype'),
  url(../fonts/FuturaPTBook.woff) format('woff'),
  url(../fonts/FuturaPTBook.ttf) format('truetype'),
  url(../fonts/FuturaPTBook.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPTBold.eot);
  src: url(../fonts/FuturaPTBold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/FuturaPTBold.woff) format('woff'),
  url(../fonts/FuturaPTBold.ttf) format('truetype'),
  url(../fonts/FuturaPTBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPTLight.eot);
  src: url(../fonts/FuturaPTLight.eot?#iefix) format('embedded-opentype'),
  url(../fonts/FuturaPTLight.woff) format('woff'),
  url(../fonts/FuturaPTLight.ttf) format('truetype'),
  url(../fonts/FuturaPTLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url(../fonts/FuturaPTMedium.eot);
  src: url(../fonts/FuturaPTMedium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/FuturaPTMedium.woff) format('woff'),
  url(../fonts/FuturaPTMedium.ttf) format('truetype'),
  url(../fonts/FuturaPTMedium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}