/* mobile menu */
.mobile-menu, .mobile-burger {
	transition: 0.3s linear;
	display: none;
}

.mobile-burger {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	right: 10px;
	bottom: 10px;
	position: fixed;
	z-index: 6;
	background: rgba(53,53,53,0.8);
	cursor: pointer;
	&.active {
		span {
			background: 0 0;
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
	span {
		display: block;
		position: absolute;
		top: 26px;
		right: 14px;
		left: 14px;
		height: 4px;
		background: #fff;
		&:before {
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background: #fff;
			content: '';
			top: -9px;
			transition: .3s;
		}
		&:after {
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			background: #fff;
			content: '';
			bottom: -9px;
			transition: .3s;
		}
	}
}

.mobile-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(#191919,0.95);
	visibility: hidden;
	opacity: 0;
	z-index: 5;
	text-align: center;
	.header__logo {
		position: relative;
		top: 52px;
	}
	ul {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translate(0,-50%);
	}
	a {
		color: #fff;
		font-size: 20px;
		&.active {
			font-weight: 500;
		}
	}
	li {
		padding: 20px 0;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

@media all and (max-width: 640px) {
	.mobile-burger, .mobile-menu {
		display: block;
	}
}

@media all and (max-width: 1200px) {

	.container {
		max-width: 99999px;
	}

	h1 {
		font-size: 58px;
	}

	h4 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.header .btn, .plans .btn {
		font-size: 16px;
		padding: 11px 35px;
	}

	.single-plan {
		&__name {
			font-size: 24px;
		}
		&__desc {
			font-size: 12px;
		}
		&__price {
			font-size: 38px;
			font-weight: 500;
		}
		&__services {
			font-size: 14px;
		}
	}

}

@media screen and (max-width: 1024px) {
	.split, .works, .order, .faq, .how, .plans {
		padding: 60px 0;
	}
	.works .single-work__meta, .works .single-work__button {
		visibility: visible;
		opacity: 1;
	}
	.order__desc {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header__top {
		position: absolute;
	}
	.split__content {
		padding-right: 30px;
	}
	.header__top.scrolled {
		background: transparent;
		&:before {
			opacity: 0;
		}
	}
	.header {
		&__buttons > a:nth-child(2) {
			display: none;
		}
	}
}

@media all and (max-width: 960px) {

	.split {
		&__photo img, &__slider img {
			height: auto;
		}
		&__photo {
			margin-left: auto;
			margin-right: auto;
			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}

	.plans__list {
		flex-direction: column;
		margin-bottom: 45px;
	}

	.plans__desc {
		margin-bottom: 45px;
	}

	.single-plan {
		flex-basis: 100%;
		width: 100%;
		max-width: 350px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	h3 {
		font-size: 30px;
	}

	.split {
		.container {
			display: block;
		}
		&__content {
			max-width: 100%;
			padding-right: 0;
			margin-bottom: 45px;
		}
		&__photo, &__slide {
			min-width: 0;
			max-width: 100%;
			width: 100%;
			img {
				max-width: 100%;
				min-height: 0;
			}
		}
	}

}

@media all and (max-width: 640px) {

	.header__logo {
		margin: 0 auto;
	}

	.how__list {
		flex-direction: column;
	}
	.how__el {
		flex-basis: 100%;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&:nth-child(2) {
			padding: 90px 0 90px 0;
			&:before {
				left: 50%;
				top: 50px;
				transform: rotate(90deg) translate(-50%,0);
				margin-left: -30px;
			}
			&:after {
				left: 50%;
				right: auto;
				top: auto;
				bottom: -10px;
				transform: rotate(90deg) translate(-50%,0);
				margin-left: -30px;
			}
		}
	}

	.header__nav {
		display: none;
	}

	.header__buttons {
		.btn {
			display: block;
			margin: 0 auto 30px auto;
			padding-left: 35px;
			padding-right: 35px;
		}
		.btn:not(:last-child) {
			margin-right: 0;
		}
	}

	.header {
		height: 100vh;
		background-position: left top;
		background-size: auto auto;
		&:before {
			opacity: 0.7;
		}
		&__top {
			top: 30px;
		}
		&__content {
			position: absolute;
			top: 50%;
			padding-top: 80px;
			transform: translate(0,-50%);
		}
		&__content .container {
			height: auto;
		}
	}
	h1 {
		font-size: 30px;
	}
	h4 {
		font-size: 16px;
		text-align: center;
	}
	h2 {
		font-size: 36px;
	}
	.plans h2 {
		margin-bottom: 36px;
		text-align: left;
	}
	.split__desc {
		font-size: 18px;
	}
	.split__slider {
		margin-left: -15px;
		margin-right: -15px;
	}
	.works__subtitle {
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}
	.plans__desc {
		font-size: 18px;
		line-height: 22px;
	}
	.faq__desc {
		font-size: 18px;
		line-height: 22px;
		max-width: 100%;
		margin-bottom: 30px;
	}
	.single-faq {
		&__title {
			font-size: 18px;
			line-height: 22px;
			&:before {
				width: 20px;
				height: 20px;
			}
		}
		&__text {
			font-size: 18px;
		}
	}
	.how__desc {
		font-size: 18px;
		line-height: 22px;
	}
	.works {
		.container {
			padding: 0 0;
		}
		&__title, &__subtitle {
			padding-left: 15px;
			padding-right: 15px;
		}
		.single-work {
			padding: 10px 15px 85px 15px;
			margin-left: -15px;
			margin-right: -15px;
			&__button {
				width: calc(100% - 40px);
				left: 20px;
				bottom: 20px;
				text-align: center;
			}
		}
	}
	.order {
		&__desc {
			font-size: 20px;
			line-height: 22px;
			margin-bottom: 30px;
		}
		&__button {
			a {
				padding: 22px 35px;
				font-size: 16px;
			}
		}
	}
	.split__desc, .works__subtitle, .plans__desc, .how__desc, .faq__desc, .single-faq__text, .order-desc {
		font-size: 20px;
		line-height: 24px;
	}
}

@media all and (max-width: 640px) {
	.header__scroll {
		display: none;
	}
}

@media all and (max-height: 550px) {
	.header__scroll {
		display: none;
	}
}

@media all and (max-width: 1750px) {
	.works .container {
		max-width: 1190px;
	}
	.single-work__title {
		font-size: 30px;
	}
}

@media all and (max-width: 1200px) {
	.works .container {
		max-width: 9999px;
	}
	.works__list {
		padding: 0;
	}
	.single-work {
		width: calc(50% - 5px);
		padding-bottom: 33%;
	}
	.single-work__title {
		font-size: 36px;
	}
	.single-work:nth-child(3n) {
		margin-right: 10px;
	}
	.single-work:nth-child(2n) {
		margin-right: 0;
	}
	.single-work__button {
		display: none;
	}
	.single-work__title, .single-work__desc {
		transform: translate(0,0);
	}
	.single-work__desc {
		margin-bottom: 0;
	}
	.single-work:hover {
		.single-work__title, .single-work__desc {
			transform: translate(0,0);
		}
	}
}

@media all and (max-width: 960px) {
	.single-work__title {
		font-size: 30px;
	}
}

@media all and (max-width: 640px) {
	.works {
		display: none;
	}
}

/* terms */
@media all and (max-width: 1024px) {
	.terms-text {
		padding: 30px 0;
	}
}

@media all and (max-width: 640px) {
	.header--terms {
		height: auto;
		padding-top: 40px;
		.header__content {
			position: relative;
			height: auto;
			top: 0;
			transform: translate(0,0);
		}
	}
}

/* login */
@media all and (max-width: 1100px) {
	.login-slider {
		display: none;
	}
	.login-form {
		float: none;
		width: 100%;
	}
}

@media all and (max-width: 640px) {
	.login-form {
		&__logo {
			width: 100%;
			padding-left: 20px;
			max-width: 580px;
			left: 50%;
			transform: translate(-50%,0);
		}
		form {
			padding: 20px;
		}
		&__reg {
			padding-left: 20px;
			width: 100%;
			left: 50%;
			max-width: 580px;
			transform: translate(-50%,0);
		}
		&__title {
			font-size: 36px;
		}
		&__desc {
			font-size: 20px;
		}
	}
}

@media all and (max-height: 700px) {
	.login-wrapper {
		background: #fff;
		height: auto;
		min-height: 100vh;
		display: flex;
	}
	.login-slider {
		order: 2;
		height: 100%;
	}
	.login-form {
		order: 1;
	}
	.login-form {
		padding-top: 40px;
		&__logo {
			position: relative;
			left: 0;
			top: 0;
			transform: translate(0,0);
			margin: 0 auto;
			width: 100%;
			display: block;
			img {
				margin: 0 auto;
			}
		}
		&__reg {
			position: relative;
			left: 0;
			top: 0;
			transform: translate(0,0);
			margin: 0 auto;
			width: 100%;
			padding-top: 0;
			padding-bottom: 30px;
		}
	}
	.login-form {
		form {
			position: relative;
			left: 0;
			top: 0;
			transform: translate(0);
			margin: 0 auto;
		}
	}
}

/* order */
@media all and (max-width: 640px) {
	.order__button:before {
		display: none;
	}
	.order__button:after {
		display: block;
	}
	.order__button {
		padding-top: 50px;
	}
}

@media only screen and (max-device-width : 1024px) and (orientation : landscape) {
	.header {
		height: auto;
		&__content {
			height: auto;
		}
		&__nav {
			display: none;
		}
		&__logo {
			margin: 0 auto;
		}
		h1 {
			font-size: 30px;
			margin-bottom: 30px;
		}
		background-position: left top;
		background-size: auto auto;
		&:before {
			opacity: 0.7;
		}
		h4 {
			margin-top: 30px;
		}
	}
	.mobile-burger, .mobile-menu {
		display: block;
	}
}